.App {
  margin: 0 auto;
  background-size: cover;
  background-position: absolute;
  background-attachment: fixed;
  background-image: url(workdesk.jpg);
}

.App-footer {
  padding-bottom: 35px;
  font-size: 15px;
  color: black;
}
.App-footer a {
  color: #4caf50;
  font-family: Noteworthy, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
